<a href="https://colab.research.google.com/github/meetgoel/Gisma-Data-Science-/blob/main/python/M504A_AI_Applications_%26_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python for Data Science

#Expressions

#Call Functions

#Operators

#Built-in Function vs Keywords

#Data Type

#String Operations

In [ ]:
st = "Michael Jordan"

st[0:1] # 0 is included and 1 is excluded

st[2:5]

st[-1] # for slicing the string from the end

st[-2]

st[6:] #including the 6th index till the end

'l Jordan'

In [ ]:
st[len(st)-1] # we put -1 because the index starts from 0 so their is nothing on the 10th position that's why we have put -1 so that it can take the 9th position

'n'

In [ ]:
x = 4
x = str(x)
type(x)
x

'4'

##String Methods - Every strings we use in python are objects

In [ ]:
st = "Michael Jordan"
st

st.lower() #Lower case & Upper case
st.upper()

'MICHAEL JORDAN'

In [ ]:
st.replace('a','Z') #Replace function

'MichZel JordZn'

In [ ]:
st = "Michael Jordan was a very good basketball player. However, he is now retired."

len(st.split()) #Splitting a String - by default it consider space as a parameter

13

In [ ]:
st = "This is a good example: Michael Jordan was a very good basketball player. However, he is now retired."
st.count("is") #Count the given parameters number of occurences within a string

3

In [ ]:
st = "This is a good example: Michael Jordan was a very good basketball player. However, he is now retired."

st.find("good") #find() finds the position of the given parameter and returns index and only returns the first appearance of the index

10

In [ ]:
name = "Lisa"
family = "Jackson"
message = "The name of student is {} and the family name {}".format(name,family) #The format method replace the curly braces with inputted values
message

'The name of student is Lisa and the family name Jackson'

##Mutable and Immutable Strings

In [ ]:
st = "Michael Jordan" #If objects are changed using assignment operator then they are called to be mutable.

#st[0] = "z" - here the string is immutable as the written code generates a error

##Boolean

In [ ]:
type(True). #Booleans values are mainly used for the comparision.
type(False)

bool

In [ ]:
a = 20
b = 50

a < b
a > b

a = 50
a == b

True

##Identity Operator

##Collection Types

#Tuples

Tuples are immutable

In [ ]:
t = (1, 3, 5, 7, 9)

type(t)

t

t[0] #for accessing the elements

t1 = (1, 3.5, "Ali", (11, 22, 44), 9) #Nested Tuples

# len() , t.count(), t.index() are the functions of tuples

#t.index() gives the position of the element entered as a parameter

##Lists

Lists are mutable

In [ ]:
lst = []

type(lst)

lst = [23, 2.5, 1000, None, True, "Amrit", [1,2,3],(89,22,33)]

lst

[23, 2.5, 1000, None, True, 'Amrit', [1, 2, 3], (89, 22, 33)]

In [ ]:
lst.append("Michael") #Append function adds a list containing element in the last of the list
print(lst)

[23, 2.5, 1000, None, True, 'Amrit', [1, 2, 3], (89, 22, 33), 'Michael', 'Michael', 'Michael']

In [ ]:
lst1 = [10,20]
lst2 = ["Lisa","Michael"]

#lst1.append(lst2)
#lst1

In [ ]:
lst1.extend(lst2) # Extend function adds the element from a list to another list
lst1

[10, 20, 'Lisa', 'Michael']

In [ ]:
lst = ["Lisa", "Mohit", "Mohammad", "Michael"]

lst.insert(1,"John") #insert function is used for inserting a element between the list of elements
lst

['Lisa', 'John', 'Mohit', 'Mohammad', 'Michael']

In [ ]:
lst = ["Lisa", "Mohit", "Mohammad", "Michael"]

lst.remove("Lisa") #remove function is used for removing an element from the list
lst

['Mohit', 'Mohammad', 'Michael']

In [ ]:
lst = ["Lisa", "Mohit", "Mohammad", "Michael"]

lst.pop() #pop function is used for removing the last element or from a specific index in the list
lst

['Lisa', 'Mohit', 'Mohammad']

In [ ]:
lst = ["Lisa", "Mohit", "Mohammad", "Michael"]

lst.clear() #clear function is used for removing all the elements from the list
lst

[]

In [ ]:
lst = ["Lisa", "Mohit", "Mohammad", "Michael"]

lst.reverse() #reverse function is used for reversing the elements of the list
lst

['Michael', 'Mohammad', 'Mohit', 'Lisa']

In [ ]:
lst = [25,12,-6,2.5,11,6,7]

lst.sort() #sort function is used for sorting the elements of the list
lst

[-6, 2.5, 6, 7, 11, 12, 25]

In [ ]:
lst = ["Lisa", "Mohit", "Mohammad", "Michael","ali"]

lst.sort()
lst

['Lisa', 'Michael', 'Mohammad', 'Mohit']

##Sets

Sets are unordered and collection of immutable objects and can hold any immutable object

In [ ]:
s = {1,2,3}

type(s)

set

"in" operator is used with any kind of collection type for checking whether a element or a value is inside a specific list or any other collection type.

In [ ]:
s = {1, 2, 3}
#s.add(3) sets have unique values so it won't be duplicated.
s.add(4)
s

{1, 2, 3, 4}

In [ ]:
s = {1, 2 ,3}
s.update([4,5,6]) # for adding multiple values within a set we need to use update function and input a list containing the multiple elements.
s

{1, 2, 3, 4, 5, 6}

Set Operations and Methods

Union

In [ ]:
s1.union(s2)

Intersection

In [ ]:
s1.intersection(s2)

Difference

In [ ]:
s1.difference(s2)

Symmetric Difference

In [ ]:
s1.symmetric_difference(s2)

Tasks given by sir - remove the duplicates values from the below list

In [ ]:
lst = [23, 2, 4, 5, 7, 23, 1, 3, 24, 6, 7, 8, 2, 4, 5, 100]

In [ ]:
lst = list(set(lst)) #removes the duplicate value from the above list
lst

[1, 2, 3, 4, 5, 6, 7, 8, 100, 23, 24]

##Dictionaries

In [ ]:
grades = {"Lisa":85, "Michael":80, "Mohit":89, "Ali":87} #dict{Keys:Values}

grades

grades["Michael"] = 82 #Dictionaries are mutable and can be accessed using the keys

grades

grades["Sarah"] = 90 #This will add the new key:pair in the dictionary in the end

grades

grades.pop("Sarah") #Pop function removes the key:pair from the dictionary

grades

grades.keys() #returns the list of keys within a dictionary
grades.values() #returns the list of values within a dictionary
grades.items() #returns the list of key:pair within a dictionary

dict_items([('Lisa', 85), ('Michael', 82), ('Mohit', 89), ('Ali', 87)])

##Control Statements

In [ ]:
print("Hello!, this is a small program")

x = 12
y = 20

print("x =",x)
print("y =",y)

print("-"*40)

print("Now we want to add this x and y:")

z = x + y
print("x + y =",z)

print("=" * 40)
print("Thank you for your attention!")

Hello!, this is a small program
x = 12
y = 20
----------------------------------------
Now we want to add this x and y:
x + y = 32
========================================
Thank you for your attention!

##"If" statement

In [ ]:
x = 5

if x > 0:
  print("x is positive")

x is positive

###Comparision and Logical Operators

### If y is bigger than x and y is an odd number then print "Yes"

In [ ]:
x = 2
y = 5

if y > x and y % 2 == 1:
  print("Yes")

Yes

##"Else" Statement

In [ ]:
x = -5

if x > 0:
  print("x is positive")

else:
  print("x is negative")

x is negative

##"Elif" Statement

In [ ]:
x = -5

if x > 0:
  print("x is positive")

elif x == 0:
  print("x is zero")

else:
  print("x is negative")

x is negative

In [ ]:
x = 5

status = "positive" if x > 0 else "negative"

status

'positive'

#Iterative Statements

##While Loop

In [ ]:
x = 1
a = int(input("Enter any number: "))
while x <= a:
  print( "*" * x)
  x+=1

Enter any number: 1
*

##For Loop

In [ ]:
for i in [1,2,3]:
  print(i)

1
2
3

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
[*range(5)]

[0, 1, 2, 3, 4]

In [ ]:
for i in range(1,11,3):
  print(i)

1
4
7
10

In [ ]:
for i in range(10,0,-3):
  print(i)

10
7
4
1

In [ ]:
for i in range(1,11):
  print(i*"*")

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
x = 1
a = int(input("Enter any number: "))
for i in range(1,a+1):
  print(i*"*")

Enter any number: 10
*
**
***
****
*****
******
*******
********
*********
**********

##Break Statement

In [ ]:
for i in range(1, 11):
  if i == 5:
    break
  print(i)

1
2
3
4

##Continue Statement

In [ ]:
for i in range(1, 11):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

##Pass Statement

In [ ]:
n = int(input("Enter any integer: "))
if n >= 100:
  print("3 digits")
elif n< 10:
  print("1 digit")
elif n == 50:
  pass

else:
    print("2 digits")

Enter any integer: 1
1 digit

##Factorial Program

In [ ]:
n = int(input("Enter any integer: "))
fact = 1
for i in range(1,n+1):
  fact = fact * i
print(fact)

Enter any integer: 5
120

##Fibonacci Sequence Program

In [ ]:
n = int(input("Enter any integer: "))
a = 0
b = 1
print(a)
print(b)
for i in range(1,n-1):
  c = a + b
  a = b
  b = c
  print(c)

Enter any integer: 10
0
1
1
2
3
5
8
13
21
34

In [ ]:
n = int(input("Enter any integer: "))
fib_lst = [0,1]
for i in range(1,n):
  fib_lst.append(fib_lst[-1] + fib_lst[-2])
print(fib_lst)

Enter any integer: 10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
## 1 + 0 = 1
## [0,1,1]
## [1 + 1] = 2
## [0,1,1,2]
## [2 + 1] = 3
## [0,1,1,2,3]

In [ ]:
n = int(input("Enter any integer: "))
fib_lst = [0,1]
if n >= 2:
  for i in range(2,n+1):
    fib = fib_lst[i-1] + fib_lst[i-2]
    fib_lst.append(fib)
elif n==0:
  fib_lst = [0]

elif n == 1:
  pass
else:
  fib_lst = None

print(fib_lst)

Enter any integer: 1
[0, 1]

#Functions

##User-Defined Function

In [ ]:
def greetings():
  print("Hello GISMA")
  print("Hello Potsdam")
  print("Hello Germany")


greetings()

Hello GISMA
Hello Potsdam
Hello Germany

#Built-in Function & Libraries

In [ ]:
import math

p = 3.1415926535
math.sin(p/2)

1.0

In [ ]:
from math import sin, pi

sin(pi/2)

1.0

In [ ]:
from math import *

tan(pi/2)

1.633123935319537e+16